{% extends "base.html" %} {% block title %}SkillPort{% endblock %} {% block
content %}
<head>
  <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
  <div class="slideshow-container">
    <div class="slide active">
      <h2>アニメーション</h2>
      <a href="#"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 1"
      /></a>
    </div>
    <div class="slide">
      <h2>音楽</h2>
      <a href="#"
        ><img src="../static/media/Bgitjwkld6Qc_1722765180.jpg" alt="Slide 2"
      /></a>
    </div>
    <div class="slide">
      <h2>プログラミング</h2>
      <a href="index.html"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 3"
      /></a>
    </div>
    <div class="slide">
      <h2>フィットネス</h2>
      <a href="index.html"
        ><img src="../static/media/Bgitjwkld6Qc_1722765180.jpg" alt="Slide 4"
      /></a>
    </div>
    <div class="slide">
      <h2>英語</h2>
      <a href="index.html"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 5"
      /></a>
    </div>

    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <div class="skillport_explanation">
    <!-- <h1>スキルポートとは？</h1> -->
  </div>

  <div class="populer_category">
    <h1>人気のカテゴリー</h1>
  </div>
  <div class="list_category_img">
    <ul class="list_category_contents">
      <li><img src="../../static/media/development.webp" alt="" /></li>
      <li><img src="../../static/media/development.webp" alt="" /></li>
      <li><img src="../../static/media/development.webp" alt="" /></li>
      <li><img src="../../static/media/development.webp" alt="" /></li>
      <li><img src="../../static/media/development.webp" alt="" /></li>
      <li><img src="../../static/media/development.webp" alt="" /></li>
    </ul>
  </div>

  <div id="videos">
    <h1>人気の動画</h1>
    <div class="video_grid">
      {% for vids in popvids %}
      <a
        href="{{ url_for('lesson_video.video_player', video_id = vids.video_id)}}"
      >
        <div class="popu_vid">
          <img
            src="{{url_for('static', filename='media' + vids.thumbnail_path)}}"
            alt="サムネイル"
          />
          <div>
            <h3>{{vids.video_title}}</h3>
            <p>{{vids.video_description_section}}</p>
            <span>
              <p>{{vids.user_name}}</p>
              <p class="upload_date">{{vids.video_upload_date.date()}}</p>
            </span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <br /><br />
</body>
{% endblock %}
<script src="../static/js/index.js"></script>
