{% extends "base.html" %} {% block title %}SkillPort{% endblock %} {% block
content %}
<head>
  <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
  <div class="slideshow-container">
    <div class="slide active">
      <h2>アニメーション</h2>
      <a href="#"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 1"
      /></a>
    </div>
    <div class="slide">
      <h2>音楽</h2>
      <a href="#"
        ><img src="../static/media/Bgitjwkld6Qc_1722765180.jpg" alt="Slide 2"
      /></a>
    </div>
    <div class="slide">
      <h2>プログラミング</h2>
      <a href="index.html"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 3"
      /></a>
    </div>
    <div class="slide">
      <h2>フィットネス</h2>
      <a href="index.html"
        ><img src="../static/media/Bgitjwkld6Qc_1722765180.jpg" alt="Slide 4"
      /></a>
    </div>
    <div class="slide">
      <h2>英語</h2>
      <a href="index.html"
        ><img src="../static/media/VnS76wTmnfKVrbz8zaXr96.webp" alt="Slide 5"
      /></a>
    </div>

    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <div class="skillport_explanation">
    <h1>スキルポートとは？</h1>
  </div>

  <div class="list_category_img">
    <ul>
      <li><img src="../../static/media/animeImg.png" alt=""></li>
      <li><img src="../../static/media/musicImg.png" alt=""></li>
      <li><img src="../../static/media/fitnessImg.png" alt=""></li>
      <li><img src="../../static/media/eigoImg.png" alt=""></li>
      <li><img src="../../static/media/cameraImg.png" alt=""></li>
    </ul>
  </div>

  <div id="videos">
    <h1>人気動画</h1>

    <div class="video_grid">
      <a href="#"
        ><img
          src="../static/media/1.jpeg"
          alt="Image 1"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
      <a href="#"
        ><img
          src="../static/media/2.webp"
          alt="Image 2"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
      <a href="#"
        ><img
          src="../static/media/3.jpg"
          alt="Image 3"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
      <a href="#"
        ><img
          src="../static/media/2.webp"
          alt="Image 4"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
      <a href="#"
        ><img
          src="../static/media/3.jpg"
          alt="Image 5"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
      <a href="#"
        ><img
          src="../static/media/1.jpeg"
          alt="Image 6"
        />ああああああああああああああああああああああああああああああああああああ</a
      >
    </div>
  </div>
  <br /><br />
</body>
{% endblock %}
<script src="../static/js/index.js"></script>
