{% extends "base.html" %} {% block title %}ログイン{% endblock %} {% block
content %}
<head>
  <link rel="stylesheet" href="../../static/css/login.css" />
</head>

<div class="page-center-wrapper">
  <div class="login-card">
    <div class="logo-area">
      <img
        src="../static/media/skill-port-logo.png"
        alt="SkillPort Logo"
        class="logo-image"
      />
    </div>

    <form class="login-form">
      <div class="form-group">
        <input
          type="text"
          id="userId"
          name="userId"
          placeholder="ユーザーID"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="パスワード"
          required
        />
      </div>

      <div class="form-actions">
        <button type="submit" class="submit-btn">ログイン</button>
      </div>

      <a href="account_register.html" class="link-option"
        >新規アカウントを作成</a
      >
      <a href="password_reset.html" class="link-option">ログイン情報を忘れた</a>
    </form>
  </div>
</div>
<script src="{{url_for('static', filename='js/jquery-3.7.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
