{% extends "base.html" %} {% block title %}アカウント削除{% endblock %} {% block
content %}
<head>
  <link rel="stylesheet" href="../../static/css/my_page_delete_process.css" />
</head>
<div class="account-delete-page-wrapper">
  <div class="delete-confirmation-box">
    <h1 class="main-title">本当にアカウント削除します？</h1>

    <form
      class="confirmation-form"
      method="post"
      action="{{url_for('my_page.delete_account_process')}}"
    >
      <div class="form-group">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="メールアドレス"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="パスワード"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="パスワード（確認）"
          required
        />
      </div>
      {% if errmsg != None %}
      <div><p>{{errmsg}}</p></div>
      {%endif%}
      <div class="form-actions">
        <button type="submit" class="delete-btn">アカウント削除</button>

        <!-- <a href="javascript:history.back()" class="back-btn">戻る</a> -->
      </div>
    </form>
  </div>
</div>
{% endblock %}
