<head>
  <link rel="stylesheet" href="../../static/css/my_page_favorites.css" />
</head>
<div class="favorites-page-container">
  <h1 class="support-main-title">お気に入りの商品</h1>
  {% if not fav_data %}
  <h4>お気に入り商品がありません</h4>
  {%endif%}
  <div class="favorites-grid">
    {% for item in fav_data %}
    <a
      href="{{url_for('market.product_detail', product_id=item.product_id)}}"
      class="item-card"
    >
      <img
        src="{{ url_for('static', filename='media'+item.image_path)}}"
        alt="商品画像"
        class="item-image"
      />
      <p class="item-title-small">{{item.product_name}}</p>
      <p class="item-price">¥{{item.product_price}}</p>
    </a>
    {% endfor %}
  </div>
</div>
