<head>
  <link rel="stylesheet" href="../../static/css/my_page_likes.css" />
</head>
<div class="likes-page-container">
  <h1 class="support-main-title">いいねした動画</h1>
  {% if not liked_videos %}
  <h4>いいねした動画がありません</h4>
  {% endif %} {% for video in liked_videos%}
  <div id="likesList" class="history-list">
    <a
      href="{{ url_for('lesson_video.video_player', video_id = video.id)}}"
      class="history-item-card"
    >
      <div class="history-image-container">
        <img
          src="{{ url_for('static', filename=video.thumbnail_path)}}"
          alt="コース画像"
          class="history-image"
        />
      </div>
      <div class="history-details">
        <h3 class="history-title">{{video.video_title}}</h3>
        <p class="history-description">{{video.video_description_section}}</p>
        <p class="history-upload">{{video.video_upload_date.date()}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
