{% extends "base.html" %} {% block title %}マイページ{% endblock %} {% block
content %}
<link rel="stylesheet" href="../../static/css/my_page_menu.css" />
<!-- メニューだけのCSSファイルが必要 -->
<div class="main-container">
  <div class="mypage-container">
    <div class="mypage-sidebar">
      <h1 class="mypage-title">マイページ</h1>
      <ul class="mypage-nav-list">
        <nav>
          <li>
            <a href="" data-target="view_history" class="menu_link active"
              >視聴履歴</a
            >
          </li>
          <li>
            <a href="" data-target="likes_list" class="menu_link"
              >いいねした動画</a
            >
          </li>
          <li>
            <a href="" data-target="favorites_list" class="menu_link"
              >お気に入りの商品</a
            >
          </li>
          <!-- <li>
            <a href="" data-target="sales_list" class="menu_link"
              >売り上げ確認</a
            >
          </li> -->
          <!-- <li>
            <a href="" data-target="membership_list" class="menu_link"
              >メンバーシップ一覧</a
            >
          </li> -->
          <!-- <li>
            <a href="" class="menu_link" data-target="bank_account_register">
              銀行口座登録
            </a>
          </li> -->

          <li>
            <a href="" data-target="password_reset" class="menu_link"
              >パスワードリセット</a
            >
          </li>
          <li>
            <a href="" data-target="payment_history" class="menu_link"
              >支払い履歴</a
            >
          </li>
          <!-- <li>
            <a href="" data-target="card_list" class="menu_link">カード一覧</a>
          </li> -->
          <li>
            <a href="" data-target="customer_support" class="menu_link"
              >カスタマーサポート</a
            >
          </li>
          <!-- <li>
            <a href="" data-target="notifications" class="menu_link"
              >お知らせ</a
            >
          </li> -->
          <li>
            <a href="" data-target="delete_account" class="menu_link"
              >アカウント削除</a
            >
          </li>
        </nav>
      </ul>
    </div>
  </div>
  <div id="main_content"></div>
</div>

<script src="../../static/js/jquery-3.7.0.min.js"></script>
<script src="../../static/js/my_page.js"></script>
{% endblock %}
