<head>
    <link rel="stylesheet" href="../../static/css/my_page_password.css" /> 
</head>
<div class="password-reset-container">
    <div class="password-reset-box">
        <h2 class="form-main-title">パスワードのリセット</h2>
        
        <form class="reset-form">
            <div class="form-group">
                <input type="password" id="currentPassword" name="currentPassword" placeholder="現在のパスワード" required>
            </div>

            <div class="form-group">
                <input type="password" id="newPassword" name="newPassword" placeholder="新しいパスワード" required>
            </div>
            
            <div class="form-group">
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="新しいパスワード再入力" required>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="save-btn">保存</button>
                <a href="javascript:history.back()" class="back-btn">戻る</a>
            </div>
        </form>
    </div>
</div>