
    <head>
        <link rel="stylesheet" href="../../static/css/my_pagebase.css" /> 
    </head>
    
    <div class="mypage-container">
        
       
        
        <div class="mypage-content-area">
            
            <h2 class="content-main-title">支払い履歴</h2> 
            
            <div class="payment-history-list">
                
                <div class="payment-item">
                    <div class="item-details-box">
                        <img src="../static/media/book_web.jpg" alt="商品画像" class="item-thumbnail">
                        <div class="item-text">
                            <p class="item-name">HTML & CSSとWEBデザイン</p>
                            <p class="item-meta">¥1,100</p>
                            <p class="item-meta">5月4日 21時05分</p>
                        </div>
                    </div>
                </div>
                
                <div class="payment-item">
                    <div class="item-details-box">
                        <img src="../static/media/book_web.jpg" alt="商品画像" class="item-thumbnail">
                        <div class="item-text">
                            <p class="item-name">HTML & CSSとWEBデザイン</p>
                            <p class="item-meta">¥1,100</p>
                            <p class="item-meta">5月4日 21時05分</p>
                        </div>
                    </div>
                </div>

                <div class="payment-item user-item">
                    <div class="item-details-box">
                        <img src="../static/media/user_sakura.jpg" alt="ユーザー画像" class="item-thumbnail user-avatar">
                        <div class="item-text">
                            <p class="item-name">HTML & CSSとWEBデザイン</p>
                            <p class="item-meta">¥1,100</p>
                            <p class="item-meta">さくら345</p>
                            <p class="item-meta">5月4日 21時05分</p>
                        </div>
                    </div>
                </div>

                <div class="payment-item">
                    <div class="item-details-box">
                        <img src="../static/media/laptop_onyx.jpg" alt="商品画像" class="item-thumbnail">
                        <div class="item-text">
                            <p class="item-name">HTML & CSSとWEBデザイン</p>
                            <p class="item-meta">¥1,100</p>
                            <p class="item-meta">5月4日 21時05分</p>
                        </div>
                    </div>
                </div>

            </div>
            
            <button class="view-more-btn">もっと見る</button>
            
        </div>
    </div>
