<head>
    <link rel="stylesheet" href="../../static/css/my_page_history.css" /> 
</head>
<div class="history-page-container">
    <h1 class="support-main-title">視聴履歴</h1>
    
    <div id="historyList" class="history-list">
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/anime_placeholder.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくイラストレーション学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/camera_placeholder.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しく撮影を学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/ukulele.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくギターを学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/ukulele.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくギターを学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/ukulele.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくギターを学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/ukulele.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくギターを学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
        <a href="#" class="history-item-card">
            <div class="history-image-container">
                <img src="../static/media/ukulele.jpg" alt="コース画像" class="history-image">
                <div class="play-button">
                    <svg viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                        <path d="M8 5v14l11-7z"/>
                    </svg>
                </div>
            </div>
            <div class="history-details">
                <h3 class="history-title">しょうごくんと楽しくギターを学びましょう！</h3>
                <p class="history-description">sldfk鷹lkdfjkぁsjdkfljaksldfjkぁsjkfd邪klsdfjkぁjksldfじゃlksjdfk;</p>
                <p class="history-description-short">亜ljksldfじゃlksjdfk;亜jlsdfkjlじゃlsjdfkljfkl</p>
            </div>
        </a>
    </div>
</div>
