<head>
  <link rel="stylesheet" href="../../static/css/my_page_history.css" />
</head>
<div class="history-page-container">
  <h1 class="support-main-title">視聴履歴</h1>

  <div id="historyList" class="history-list">
    {% for video in viewed_videos %}
    <a
      href="{{ url_for('lesson_video.video_player', video_id = video.id)}}"
      class="history-item-card"
    >
      <div class="history-image-container">
        <img
          src="{{ url_for('static', filename='media' + video.thumbnail_path)}}"
          alt="コース画像"
          class="history-image"
        />
      </div>
      <div class="history-details">
        <h3 class="history-title">{{video.video_title}}</h3>
        <p class="history-description">{{video.video_description_section}}</p>
        <p class="history-upload">{{video.video_upload_date.date()}}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
