<head>
    <link rel="stylesheet" href="../../static/css/my_page_bank_list.css" /> 
</head>

<div class="bank-list-page-container">
    
    <div class="bank-list-header">
        <h1 class="main-title">銀行口座一覧</h1>
        <button class="register-new-btn">＋新規登録</button>
    </div>

    <div class="bank-account-list-wrapper">
        
        <div class="account-item header">
            <span class="col-type">表示名</span>
            <span class="col-bank">金融機関名</span>
            <span class="col-number">口座番号</span>
            <span class="col-name">名義人</span>
            <span class="col-date">登録時期</span>
            <span class="col-actions">編集・削除</span>
        </div>

        <div class="account-item">
            <span class="col-type">***口座</span>
            <span class="col-bank">まさと銀行 心斎橋支店 (111)</span>
            <span class="col-number"> (普通) 1295676</span>
            <span class="col-name">SYOKOU KINOSHITA</span>
            <span class="col-date">2030/08/19</span>
            <span class="col-actions">
                <button class="action-btn set-btn">変更</button>
                <button class="action-btn delete-btn">削除</button>
            </span>
        </div>
        
        <div class="account-item default-item">
            <span class="col-type">***口座</span>
            <span class="col-bank">まさと銀行 心斎橋支店 (111)</span>
            <span class="col-number"> (普通) 1295676</span>
            <span class="col-name">SYOKOU KINOSHITA</span>
            <span class="col-date">2030/08/19</span>
            <span class="col-actions">
                <button class="action-btn default-badge">既定</button>
                <button class="action-btn delete-btn">削除</button>
            </span>
        </div>
        
        <div class="account-item">
            <span class="col-type">***口座</span>
            <span class="col-bank">まさと銀行 心斎橋支店 (111)</span>
            <span class="col-number"> (普通) 1295676</span>
            <span class="col-name">SYOKOU KINOSHITA</span>
            <span class="col-date">2030/08/19</span>
            <span class="col-actions">
                <button class="action-btn set-btn">変更</button>
                <button class="action-btn delete-btn">削除</button>
            </span>
        </div>
        
        <div class="account-item">
            <span class="col-type">***口座</span>
            <span class="col-bank">まさと銀行 心斎橋支店 (111)</span>
            <span class="col-number"> (普通) 1295676</span>
            <span class="col-name">SYOKOU KINOSHITA</span>
            <span class="col-date">2030/08/19</span>
            <span class="col-actions">
                <button class="action-btn set-btn">変更</button>
                <button class="action-btn delete-btn">削除</button>
            </span>
        </div>

    </div>
</div>