<head>
    <link rel="stylesheet" href="../../static/css/my_page_notifications.css" /> 
</head>
<div class="notifications-page-container">
    <h1 class="content-main-title">お知らせ</h1>
    
    <div class="notification-list">
        
        <div class="notification-item">
            <div class="item-icon system-icon">
                <img src="../static/media/skill-port-logo-small.png" alt="SkillPortアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月4日 21時05分</p>
            </div>
        </div>
        
        <div class="notification-item">
            <div class="item-icon user-icon">
                <img src="../static/media/user_monkey.jpg" alt="ユーザーアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月4日 21時05分</p>
            </div>
        </div>

        <div class="notification-item">
            <div class="item-icon user-icon">
                <img src="../static/media/user_abstract.jpg" alt="ユーザーアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月4日 21時05分</p>
            </div>
        </div>

        <div class="notification-item">
            <div class="item-icon system-icon">
                <img src="../static/media/skill-port-logo-small.png" alt="SkillPortアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月3日 21時05分</p>
            </div>
        </div>
        
        <div class="notification-item">
            <div class="item-icon user-icon">
                <img src="../static/media/user_gorilla.jpg" alt="ユーザーアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月2日 21時05分</p>
            </div>
        </div>

        <div class="notification-item">
            <div class="item-icon user-icon">
                <img src="../static/media/user_dog.jpg" alt="ユーザーアイコン" class="icon-image">
            </div>
            <div class="item-details">
                <p class="notification-text">しょうごさんが「ベンチラック」にいいね！しました。挨拶しましょうか！</p>
                <p class="notification-meta">5月2日 21時05分</p>
            </div>
        </div>

    </div>
    
    <button class="view-more-btn">もっと見る</button>
</div>