<head>
    <link rel="stylesheet" href="../../static/css/my_page_sidebar.css" /> 
</head>

<div class="mypage-sidebar">
    <h1 class="mypage-title">マイページ</h1>
    <ul class="mypage-nav-list">
        <li><a href="my_page_history.html">視聴履歴</a></li>
        <li><a href="my_page_likes.html">いいね</a></li>
        <li><a href="my_page_sales.html">売り上げ確認</a></li>
        <li><a href="my_page_membership.html">メンバーシップ一覧</a></li>
        <li><a href="my_page_bank.html">銀行口座登録</a></li>
        <li><a href="my_page_favorites.html">お気に入り</a></li>
        <li><a href="my_page_password.html">パスワードのリセット</a></li>
        <li><a href="my_page_payments.html">支払い履歴</a></li>
        <li><a href="my_page_cards.html">カード一覧</a></li>
        <li><a href="my_page_support.html">カスタマーサポート</a></li>
        <li><a href="my_page_notifications.html">お知らせ</a></li>
        <li><a href="my_page_delete.html" class="delete-link">アカウント削除</a></li>
    </ul>
</div>