body {
  font-family: sans-serif;
  margin: 0;
}

/* 右上プロファイルのやつ----------------------------------------------- */

#profile {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 1vw;
  margin-top: 0.5vw;
}

#profile ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
}

#profile ul li {
  padding: 0 10px;
}

#profile ul li:not(:last-child) {
  border-right: 2px solid black;
}

#profile ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#profile li a {
  text-decoration: none;
  color: #333;
}

#profile img {
  width: 25px;
}

/* ------------------------------------------------------------------ */

/* ヘッダ------------------------------------------------------------ */

#header_cap {
  padding-top: 35px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 5px;
  z-index: 100;
}

#header img {
  width: 7vw;
  max-width: 115px;
}

#header .container {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  gap: 2vw;
  background-color: #226cff;
  height: 4vw;
  width: 75vw;
  border-radius: 50px;
  justify-content: center;
  overflow: hidden;
  max-height: 70px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

#header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  font-weight: bolder;
  height: 100%;
}

#header ul li {
  /* margin-right: 2.5vw; */
  height: 100%;
}

#header ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  z-index: 10;
  transition: 0.2s;
}

#header ul li a:hover {
  transform: translateY(-2px);
}

#header > .container > ul > li > a:hover {
  background: transparent;
}

.highlight {
  position: absolute;
  background: white;
  border-radius: 9999px;
  transition: all 0.2s ease;
  z-index: 1;
  opacity: 0.2;
  height: 100%;
  padding: 2px 0;
}

/* Search form */
#header .search {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

#header .search input {
  padding: 8px 10px;
  font-size: 1vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: 0.2s;
}

#header .search input:focus {
  padding: 9px 11px;
  outline: none;
}

#header .search button {
  padding: 5px 12px;
  font-size: 1vw;
  font-weight: bold;
  /* font-size: clamp(10px, 1vw, 100px); */
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #ffffff;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

#header .search button:hover {
  background: white;
  color: #5d5d5d;
  transform: translateY(-1px);
}

.error {
  font-style: italic;
}

/* dropdown-------------------------------------------- */

#header .container {
  overflow: visible;
}

#header .dropdown a {
  position: relative;
  z-index: 100;
}

#header .dropdown-menu {
  display: none;
  position: relative;
  top: 5px;
  left: 0;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
  height: auto;
}

/* #header .dropdown-menu li:not(:last-child){
  line-height: 2.2;
} */

#header .dropdown-menu li a {
  display: block;
  padding: 8px 12px;
  color: #000000;
  text-decoration: none;
  background: #fff;
  line-height: 2;
  z-index: 100;
  font-size: 1rem;
}

#header .dropdown-menu li a:hover {
  background: #e6e6e6;
}

#header .dropdown.open > .dropdown-menu {
  display: block;
}

.profile_icon {
  margin-right: 10px;
  margin-top: 5px;
}

/*フッター ------------------------------------------------------------ */

footer {
  background-color: #226cff;
  color: white;
  text-align: center;
  margin-top: 5vw;
  font-size: 12px;
}

/* ------------------------------------------------------------------ */
