body {
  font-family: sans-serif;
  margin: 0;
}

/* フッター情報 */
footer {
  background-color: #226cff;
  color: white;
  text-align: center;
  margin-top: 5vw;
}

/* ------------------------------------------------------------------ */
