body {
  top: 0px;
  position: absolute;
}
/* スライドショー--------------------------------------------------------- */

.slide h2 {
  position: absolute;
  margin: 0;
  font-size: 4vw;
  padding: 0px 20px 100px 0px;
  border-top-left-radius: 8px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.slideshow-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: fill;
  margin-bottom: 5rem;
}

.slide {
  position: absolute;
  inset: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide::after {
  content: "";
  position: absolute;
  inset: 0; /* 全体を覆う */
  background:
    /* 上方向の白フェード */ linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    /* 下方向の白フェード */
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 70%,
        rgba(255, 255, 255, 1) 100%
      ),
    /* 左右の白フェード */
      linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1) 100%
      ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 1) 100%
    );
  pointer-events: none;
}

.slide.active {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 2s ease-in-out, visibility 0s linear 0s;
}

.slide.active h2 {
  opacity: 1;
  color: white;
  position: absolute;
  bottom: 0;
  background: transparent;
  font-size: 8rem;
  font-style: italic;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  visibility: visible;
  z-index: 2;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #a7a7a7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #eeeeee;
}

/* カテゴリイメージ */

.populer_category h1 {
  margin-left: 10vw;
  font-size: 3vw;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: 0.4vw;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  width: 40%;
  min-width: 200px;
}

.category_list {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category_list a {
  color: white;
  text-decoration: none;
}

.card {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #226cff 0%, #1f69ff 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}

.card-1 {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1f69ff 0%, #0a5cff 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}
.card-2 {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0a5cff 0%, #0052f5 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}
.card-3 {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0052f5 0%, #004be0 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}
.card-4 {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #004be0 0%, #0044cc 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}
.card-5 {
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0044cc 0%, #003db8 100%);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.2s;
}

.card:hover,
.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover,
.card-5:hover {
  transform: translateY(-6px);
  transform: scale(1.03);
}

.card-header {
  margin: 15px;
  margin-bottom: 26px;
  width: 100%;
}

.card-title {
  font-size: 18px;
  padding-top: 0.6rem;
  margin-bottom: 0;
}

.image-container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin: auto;
  /* margin-bottom: 150px; */
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .placeholder-image {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #0d6878;
  text-align: center;
  padding: 20px;
} */

/* .placeholder-image img{
  max-width: 100%;
} */

/* 
.list_category_img .list_category_contents img{
  width: 150px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.list_category_img .list_category_contents img:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
} */

/* ------------------------------------------------------------------ */

/*動画 ------------------------------------------------------------ */

#videos {
  margin: 0 7vw;
  justify-content: center;
  align-items: center;
}

#videos h1 {
  margin-left: 5vw;
  font-size: 3vw;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: 0.4vw;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  width: 40%;
  min-width: 200px;
}

.video_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 85%;
  height: 85%;
  margin: 0 auto;
}

.video_grid img {
  width: 100%;
  /* object-fit: cover; */
}

.video_grid a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  transition: transform 0.3s ease;
}

.video_grid a:hover {
  transform: translateY(-2px);
}

#videos h2 {
  text-align: center;
  padding-top: 2vw;
}

#videos h2 a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  margin-right: 5vw;
}

.popu_vid {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: black;
}

.popu_vid div {
  padding: 0.2rem 0.5rem;
}

.popu_vid div h3 {
  margin: 0;
}

.popu_vid div p {
  opacity: 0.6;
  font-size: 14px;
}

.popu_vid div span {
  display: flex;
  justify-content: space-between;
}

.popu_vid div span p {
  opacity: 1;
}

.upload_date {
  font-style: italic;
  opacity: 0.6;
}
