*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

/* プロフィール設定 */
.edit-container{
    background-color: white;
    width: 60%;
    border-radius: 12px;
    margin-left: 350px;
    padding-bottom: 60px;
}



.profile-set-text{
    padding-top:50px ;
    text-align: center;
}


.profile-set-main{
    padding:50px 0px 0px 150px;
}

.profile-set-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

p{
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
}

.specialt-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 30px;
    width: 200px;
}

.tag-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 30px;
    width: 300px;
}

.user-name-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 30px;
    width: 300px;
}

.self-introduction-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 70px;
    width: 500px;
}

/* 更新するボタン */
#update-button{
    margin-left: 50px;
    margin-top: 80px;
    font-size: 30px;
    border: none;          
    color: white;
    width: 500px;
    background-color: #226CFF;
    border-radius: 50px; 
}



/* 個人情報設定 */
.personal-information-text{
    padding-top:100px ;
    text-align: center;
}

.personal-information-set-main{
    padding:30px 0px 0px 150px;
}

.last-name-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}

.first-name-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}

.last-name-ruby-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}

.first-name-ruby-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}

.address-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 500px;
}

.year-textbox{
    padding-left: 50px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.month-textbox{
    padding-left: 50px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.day-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.phone-num-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 400px;
}

.card-num-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
    height: 40px;
    width: 400px;
}

.curd-name-textbox{
    padding-left: 50px;
    margin-top: 30px;
    border-radius: 50px;
    height: 40px;
    width: 400px;
}

.cvv-textbox{
    padding-left: 50px;
    margin-top: 30px;
    margin-right: 95px;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.expiration-date-textbox{
    padding-left: 50px;
    margin-top: 30px;
    border-radius: 50px;
    height: 40px;
    width: 200px;
}