* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* プロフィール設定 */
.profile-set-contents{
    padding:60 0 0 400px;

}

.profile-set-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

p{
    
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
}

.profile-set-textbox{
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 50px;
}

button{
    margin-left: 560px;
    margin-top: 100px;
    font-size: 30px;
    border: none;          
    color: white;
    width: 15em;
    background-color: #226CFF;
    border-radius: 50px; 
}



/* 個人情報設定 */
