<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}デフォルトのタイトル{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/base.css')}}"
    />
    {% block styles %}{% endblock %}
  </head>
  <body>
    <!-- ヘッダー -->
<div id="profile">
      <ul>
        {% if 'user_id' in session %}
          <li><span>こんにちは, {{ session.user_name }} さん</span></li>
          <!-- <li><a href="{{ url_for('auth.view_profile') }}">プロフィール</a></li> -->
          <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>

        {% else %}
          <li><a href="{{ url_for('account.register_form')}}">アカウント登録</a></li>
          <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
        {% endif %}
      </ul>
      <a href="{{ url_for('auth.view_profile') if 'user_id' in session else url_for('auth.login') }}">
        <img
          src="{{ url_for('static', filename='media/profile_icon.png') }}"
          alt="profile icon"
        />
      </a>
    </div>

    <div id="header_cap"></div>

    <div id="header">
      <a href="/">
        <img
          src="{{ url_for('static', filename='media/skill-port-logo.png') }}"
          alt="logo"
        />
      </a>

      <div class="container">
        <ul>
          <li>
            <a href="{{ url_for('auth.view_profile')}}">プロフィール</a>
          </li>
          <li><a href="{{ url_for('market.market_top')}}">マーケット</a></li>
          <li>
            <a href="{{ url_for('community.community_top')}}">コミュニティー</a>
          </li>
          <li class="dropdown" id="nav-category">
            <a href="{{ url_for('category.category_list', name='アニメーション') }}"
              class="dropdown-toggle"
              >カテゴリ一</a
            >
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('category.category_list', name="アニメーション")}}">アニメーション</a></li>
              <li><a href="{{ url_for('category.category_list', name="音楽")}}">音楽</a></li>
              <li><a href="{{ url_for('category.category_list', name="カメラ")}}">カメラ</a></li>
              <li><a href="{{ url_for('category.category_list', name="フィットネス")}}">フィットネス</a></li>
              <li><a href="{{ url_for('category.category_list', name="英語")}}">英語</a></li>
              <li><a href="{{ url_for('category.category_list', name="プログラミング")}}">プログラミング</a></li>
            </ul>
          </li>
        </ul>

        <form
          action="{{ url_for('search.header_search')}}"
          method="get"
          class="search"
        >
          <input
            type="text"
            name="headersearch"
            placeholder="検索..."
            id="search_bar"
          />
          <button type="submit" id="search_button">検索</button>
          <!--JSを使って入力欄が空かを確認する  -->
        </form>
      </div>
    </div>
    <!-- header情報はここまで -->
    <main>
      {% block content %}
      <p>コンテンツはここに</p>
      {% endblock %}
    </main>
    <!-- フッター -->
    <footer>©copyright SkillPort2025</footer>
  </body>
</html>
<script src="{{url_for('static', filename='js/jquery-3.7.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/base.js')}}"></script>
{% block scripts %}{% endblock %}
