{% extends "base.html" %} {% block title %}{{ video.video_title }} | SkillPort{%
endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/lecture.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/popup_report.css') }}"
/>
{% endblock %} {% block content %}
<main class="main-grid">
  <section class="left">
    <div class="video-area">
      <video controls class="video-frame">
        <source
          src="{{ url_for('static', filename= video.file_path[1:]) }}"
          type="video/mp4"
        />
        ブラウザは動画再生に対応していません。
      </video>
    </div>
    <h2 class="video-title">{{ video.video_title }}</h2>

    

    <div class="video_info">
      <p class="video-desc">{{ video.video_description_section }}</p>
      <p class="video_date">動画公開日：{{video.video_upload_date.date()}}</p>
    </div>
    

    <div class="video-stats">
      <span>再生回数：{{views['view_count']}}</span>
      <input type="button" value="いいね" name="video_like" id="like-button" data-video-id="{{ video.video_id }}" {%if video.video_like%} style="color:white;background-color:#007bff;font-weight:bold;" {%endif%}>
      <a href="#" id="reportBtn" class="btn-report">通報</a>
    </div>

    <div class="uploader">
      <a href="{{url_for('auth.view_profile', user_id = video.video_uploader_id)}}">
        <img
          src="{{ url_for('static', filename='media/user/' + video.profile_icon[1:]) }}"
          alt="Uploader Icon"
        />
        <p>{{video.user_name}}</p>
      </a>
    </div>

    <h3>コメント</h3>
    <div class="comment-form">
      <input type="text" placeholder="コメント投稿" />
      <button>投稿する</button>
    </div>

    <ul class="comment-list">
      {% for c in comments %} {% if c.profile_icon != None %}
      <li>
        <img
          src="{{ url_for('static', filename='media/user' + c.profile_icon) }}"
          alt="Commenter Icon"
        />

        <div>
          <strong>{{c.user_name}}</strong>
          <p>{{c.comment_text}}</p>
        </div>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </section>

  <aside class="right">
    <h3>おすすめ動画</h3>
    <div class="recommend">
      {% for vid in rec_vids %}
      <div class="video-card">
        <div>  
          <a href="{{url_for('lesson_video.video_player', video_id = vid.id)}}">
          <img
            src="{{ url_for('static', filename= vid.thumbnail_path) }}"
            alt="Recommended Video 1"
          />
        </div>
        <div> 
          <h5>{{vid.video_title}}</h5>
          <p>{{vid.video_description_section}}</p>
          <p class="video_date">{{vid.video_upload_date.date()}}</p>
        </div>
     
        
        </a>
      </div>
      {% endfor %}
    </div>
  </aside>
</main>

<div id="reportModal" class="modal hidden">
  <div class="modal-content">
    <h2>通報</h2>
    <form id="reportForm">
      <label
        ><input type="radio" name="reason" value="ガイドライン違反" />
        ガイドラインに反する内容</label
      ><br />
      <label
        ><input type="radio" name="reason" value="暴力表現" />
        暴力的または不快感を与える表現</label
      ><br />
      <label
        ><input type="radio" name="reason" value="虚偽" />
        虚偽情報・スパムコンテンツ</label
      ><br />
      <label
        ><input type="radio" name="reason" value="著作権侵害" />
        著作権侵害・違法動画の投稿</label
      ><br />
      <label><input type="radio" name="reason" value="その他" /> その他</label
      ><br />
      <textarea
        name="detail"
        rows="4"
        placeholder="詳細内容を入力してください"
      ></textarea>
      <div class="modal-buttons">
        <button type="button" id="closeModal">キャンセル</button>
        <button type="submit" id="submitReport">報告</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<script
  src="{{ url_for('static', filename='js/popup_report.js') }}"
  defer
></script>
<script src="{{url_for('static', filename='js/video_player.js')}}"></script>
{% endblock %}

