{% extends "base.html" %} {% block title %}ユーザー情報登録{% endblock %} {%
block content %}
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/register.css') }}"
  />
</head>

<div class="register-wrapper">
  <div class="register-container">
    <h1 class="register-title">新規アカウント登録</h1>
    <form method="POST" class="register-form">
      <input type="hidden" name="username" value="{{username}}" />
      <input type="hidden" name="password" value="{{password}}" />

      <fieldset class="form-section">
        <legend class="section-title">ユーザー情報</legend>
        <div class="input-group">
          <input
            type="email"
            name="email"
            class="form-input"
            placeholder="例）haltarou@skillport.com"
          />
          <label>メールアドレス</label>
        </div>

        <div class="input-group">
          <input
            type="tel"
            name="tel"
            class="form-input"
            placeholder="ハイフンなし"
          />
          <label>電話番号</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="last_name"
            class="form-input"
            placeholder="春"
          />
          <label>姓 (漢字/ひらがな/英字)</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="first_name"
            class="form-input"
            placeholder="太郎"
          />
          <label>名 (漢字/ひらがな/英字)</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="last_name_furigana"
            class="form-input"
            placeholder="ハル"
          />
          <label>姓フリガナ (カタカナ)</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="first_name_furigana"
            class="form-input"
            placeholder="タロウ"
          />
          <label>名フリガナ (カタカナ)</label>
        </div>

        <div class="input-group input-date">
          <input type="date" name="birthday" class="form-input" />
          <label>生年月日 </label>
        </div>

        <div class="form-gender-group">
          <span class="gender-label-title">性別:</span>
          <label class="custom-radio">
            <input type="radio" name="gender" value="male" />
            <span class="radio-mark"></span> 男性
          </label>
          <label class="custom-radio">
            <input type="radio" name="gender" value="female" />
            <span class="radio-mark"></span> 女性
          </label>
          <label class="custom-radio">
            <input type="radio" name="gender" value="no_answer" checked />
            <span class="radio-mark"></span> 回答しない
          </label>
        </div>
      </fieldset>

      <fieldset class="form-section">
        <div class="input-group">
          <input
            type="text"
            name="zip_code"
            class="form-input"
            placeholder="ハイフンなし"
          />
          <label>郵便番号</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="prefecture"
            class="form-input"
            placeholder="例）東京都"
          />
          <label>住所 - 都道府県</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="address1"
            class="form-input"
            placeholder="例）千代田区"
          />
          <label>住所 - 市区町村</label>
        </div>

        <div class="input-group">
          <input
            type="text"
            name="address2"
            class="form-input"
            placeholder="例）3-2-1上田ハイツ101室"
          />
          <label>住所 - 番地・建物名</label>
        </div>

        <div class="input-group">
          <textarea name="introduction" class="form-textarea"></textarea>
          <label>自己紹介 (任意、1〜300文字以内)</label>
        </div>
      </fieldset>

      <button type="submit" class="submit-btn">アカウント作成</button>
    </form>

    <p class="login-link">
      <a href="{{ url_for('auth.login')}}">ログイン画面に戻る</a>
    </p>
  </div>
</div>
{% endblock %}
